@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
  font-family: 'Pretendard', 'Noto Sans KR', 'Noto Sans', 'Nanum Gothic', 'Malgun Gothic', 'sans-serif';
}

.emoji {
  font-family: 'TossFace';
}
